node_modules/
dist/
web-build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.local
.env.production
coverage/
.cache/
.parcel-cache/
.next/
out/
build/
.expo/
.expo-shared/
.vscode/
.idea/
*.swp
*.swo
*~
.eslintcache
